.git
.github
node_modules
packages/shared/node_modules
packages/shared/dist
packages/server/node_modules
packages/server/dist
frontend/node_modules
frontend/dist
packages/shared/tsconfig.tsbuildinfo
packages/server/tsconfig.tsbuildinfo
*.log
.env
.env.*
!.env.example
